@import 'semantic';
// @import 'add-to-homescreen';
@import 'weather';

/* My Styles */
#cheney i {
    color: aqua;
    font-size: 6em;
}

/* Custom Background */
.bg-1 {
    background-image: url('https://tctechcrunch2011.files.wordpress.com/2015/08/clouds.jpg');
    
}